@import 'tailwindcss';

@theme {
  --font-pretendard-black: 'PRETENDARD-BLACK', 'sans-serif';
  --font-pretendard-extrabold: 'PRETENDARD-EXTRABOLD', 'sans-serif';
  --font-pretendard-bold: 'PRETENDARD-BOLD', 'sans-serif';
  --font-pretendard-semibold: 'PRETENDARD-SEMIBOLD', 'sans-serif';
  --font-pretendard-medium: 'PRETENDARD-MEDIUM', 'sans-serif';
  --font-pretendard-regular: 'PRETENDARD-REGULAR', 'sans-serif';
  --font-pretendard-light: 'PRETENDARD-LIGHT', 'sans-serif';
  --font-pretendard-extralight: 'PRETENDARD-EXTRALIGHT', 'sans-serif';
  --font-pretendard-thin: 'PRETENDARD-THIN', 'sans-serif';
}

@font-face {
  font-family: 'PRETENDARD-BLACK';
  src: url('../asset/fonts/PRETENDARD-BLACK.OTF') format('opentype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'PRETENDARD-EXTRABOLD';
  src: url('../asset/fonts/PRETENDARD-EXTRABOLD.OTF') format('opentype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'PRETENDARD-BOLD';
  src: url('../asset/fonts/PRETENDARD-BOLD.OTF') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'PRETENDARD-SEMIBOLD';
  src: url('../asset/fonts/PRETENDARD-SEMIBOLD.OTF') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'PRETENDARD-MEDIUM';
  src: url('../asset/fonts/PRETENDARD-MEDIUM.OTF') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'PRETENDARD-REGULAR';
  src: url('../asset/fonts/PRETENDARD-REGULAR.OTF') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PRETENDARD-LIGHT';
  src: url('../asset/fonts/PRETENDARD-LIGHT.OTF') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'PRETENDARD-EXTRALIGHT';
  src: url('../asset/fonts/PRETENDARD-EXTRALIGHT.OTF') format('opentype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'PRETENDARD-THIN';
  src: url('../asset/fonts/PRETENDARD-THIN.OTF') format('opentype');
  font-weight: 100;
  font-style: normal;
}
