@import 'tailwindcss';

@theme {
  --color-gray-1: #f2f3f8;
  --color-gray-2: #e5e7ee;
  --color-gray-3: #cbd1db;
  --color-gray-4: #b6bbc9;
  --color-gray-5: #9ba0b0;
  --color-gray-6: #6b7284;
  --color-gray-7: #4d5565;
  --color-gray-8: #384151;
  --color-gray-9: #282f3b;
  --color-gray-10: #151a23;

  --color-blue-1: #e6f4ff;
  --color-blue-2: #96d2ff;
  --color-blue-3: #6bbfff;
  --color-blue-4: #2ba4ff;
  --color-blue-5: #0091ff;
  --color-blue-8: #1158bb;

  --color-error: #f94239;
}

@layer base {
  body {
    font-family: var(--font-pretendard);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
